# Generate the Dataset

In [2]:
import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Number of samples
n_samples = 1000

# Sample data generation
makes = ['Toyota', 'Ford', 'BMW', 'Audi', 'Mercedes', 'Hyundai', 'Honda']
models = ['Model A', 'Model B', 'Model C', 'Model D', 'Model E']
years = np.random.randint(2000, 2023, size=n_samples)
mileages = np.random.randint(5000, 200000, size=n_samples)
fuel_types = ['Petrol', 'Diesel', 'Electric', 'Hybrid']
transmissions = ['Manual', 'Automatic']

# Random choices for categorical data
make = np.random.choice(makes, size=n_samples)
model = np.random.choice(models, size=n_samples)
fuel_type = np.random.choice(fuel_types, size=n_samples)
transmission = np.random.choice(transmissions, size=n_samples)

# Price calculation based on random factors
base_prices = {
    'Toyota': 20000, 'Ford': 25000, 'BMW': 35000, 'Audi': 40000,
    'Mercedes': 45000, 'Hyundai': 18000, 'Honda': 22000
}
price_variation = np.random.normal(loc=0.0, scale=5000.0, size=n_samples)
age_factor = (2023 - years) * -500
mileage_factor = mileages * -0.05
fuel_factor = np.array([1000 if fuel == 'Electric' else -500 if fuel == 'Diesel' else 0 for fuel in fuel_type])
transmission_factor = np.array([1000 if trans == 'Automatic' else 0 for trans in transmission])

# Final price calculation
price = np.array([base_prices[m] for m in make]) + price_variation + age_factor + mileage_factor + fuel_factor + transmission_factor
price = np.clip(price, 5000, None)  # Ensure price doesn't fall below 5000

# Create DataFrame
data = {
    'make': make,
    'model': model,
    'year': years,
    'mileage': mileages,
    'fuel_type': fuel_type,
    'transmission': transmission,
    'price': price
}

df = pd.DataFrame(data)
df.head()

<ipython-input-2-c34e98bf3b7f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

       make    model  year  mileage fuel_type transmission         price
0   Hyundai  Model D  2006    89555    Diesel       Manual   5000.000000
1   Hyundai  Model C  2019    78698    Petrol    Automatic  21801.915990
2      Ford  Model A  2014   129450    Diesel       Manual  18188.457821
3  Mercedes  Model B  2010   141487  Electric       Manual  31242.873564
4      Ford  Model E  2007   172231    Petrol    Automatic  15066.550736

# Save the Dataset

In [3]:
# Save to CSV
df.to_csv('car_prices.csv', index=False)